[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<6"
psycopg = {extras = ["binary", "pool"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
